@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400|Waiting+for+the+Sunrise';

.App {
  margin: auto;
  text-align: center;
  border: grey 5px double;
  width: 80%;
  height: auto;
}

.leftNav {
  text-align: center;
  margin: 20x;
  height: 30px;
  background-color: #28A190;
}

.navigation {
  margin: 0;
  padding: 0;
}

.jumbo {
  margin: 0;
  background-color: white;
}

.dashboard, .newPost, .search, .about, .login, .signup, .logout {
  margin: 20px;
  font-family: 'Josefin Sans', sans-serif, 100;
  color: white;
  font-size: 20px;
}

.greetings {
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Waiting for the Sunrise', cursive;
}
