.fieldContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.messageWrapper {
  background-size: cover;
  margin-top: 3cm;
  flex-direction: column;
}


.messageInput {
  flex-direction: row;
  padding-left: 0.2cm;
  text-align: left;
}

.sendBtn {
  display: relative;
  margin-left: 90%;
  margin-bottom: 20px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  height: 30px;
  width: 60px;
}

.messageHeading {
  font-size: 24px;
  color: green;
  font-weight: bold;
  font-family: 'Raleway', sans-serif, 700;
  margin-top: 20px;
  text-align: center;
}
