div {
  list-style: none;
}

.submitButton {
  margin-top: 10px;
  margin-left: 65%;
  font-size: 15px;
}

.newPostForm {
  text-align: left;
  margin-left: 25%;
  margin-top: 40px;
}

.newTextArea {
  width:500px;
  height:300px;
}

.newInput {
  width: 500px;
}
