.updateButton {
  margin-top: 10px;
  margin-left: 55%;
  font-size: 15px;
}

.updatePostForm {
  text-align: left;
  margin-left: 28%;
  margin-top: 40px;
}

.updateTextArea {
  width:500px;
  height:300px;
}

.updateInput {
  width: 500px;
}
