.weatherforecast {
  background-color: #000;
  color: white;
  text-align: center;
}

.searchButton{
  font-size: 15px;
  margin: 20px;
}

.citySearch, .stateSearch {
  margin-bottom: 10px;
  width: 500px;
  margin-left: 28%;
  margin-top: 20px;
}
